.leaderboard-page {
  /* min-height: 100vh; */
  background: #050505;
  color: #fff;
  padding: 100px 8% 60px;
}

.leaderboard-title {
  text-align: center;
  font-size: 52px;
  font-weight: 800;
  margin-bottom: 50px;
  color: #fff;
}

.leaderboard-list {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.leader-card {
  display: flex;
  align-items: center;
  gap: 28px;
  background: #111;
  border: 1px solid #232323;
  border-radius: 18px;
  padding: 25px 30px;
  transition: .3s;
}

.leader-card:hover {
  border-color: #c8ff00;
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(200,255,0,.12);
}

.rank {
  min-width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #181818;
  border: 2px solid #c8ff00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: bold;
}

.leader-info {
  flex: 1;
}

.leader-info h2 {
  font-size: 28px;
  margin-bottom: 8px;
  color: white;
}

.leader-info p {
  color: #c8ff00;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
}

.leader-stats {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.leader-stats span {
  background: #181818;
  border: 1px solid #292929;
  color: #ddd;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 14px;
  transition: .3s;
}

.leader-stats span:hover {
  border-color: #c8ff00;
  color: #c8ff00;
}

/* Top 3 Special Glow */

.leader-card:nth-child(1) {
  border-color: #c8ff00;
  box-shadow: 0 0 18px rgba(255,215,0,.18);
}

.leader-card:nth-child(2) {
  border-color: #c8ff00;
  box-shadow: 0 0 18px rgba(192,192,192,.12);
}

.leader-card:nth-child(3) {
  border-color: #c8ff00;
  box-shadow: 0 0 18px rgba(205,127,50,.12);
}

/* Mobile */

@media(max-width:768px){

.leaderboard-page{
padding:90px 20px 40px;
}

.leaderboard-title{
font-size:36px;
}

.leader-card{
flex-direction:column;
text-align:center;
padding:22px;
}

.rank{
width:70px;
height:70px;
font-size:28px;
min-width:70px;
}

.leader-info h2{
font-size:24px;
}

.leader-info p{
font-size:18px;
}

.leader-stats{
justify-content:center;
}

}