.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  width: 500px;
  background: #111;
  border: 1px solid #222;
  border-radius: 16px;
  padding: 30px;
  position: relative;
}

.modal-box h2 {
  color: white;
  margin-bottom: 20px;
}

.modal-box input,
.modal-box textarea,
.modal-box select {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: #c6ff1a;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}